body {
    background-color: burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#signature {
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 5px;
}

#input {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px;
}